CITS-WebService/InTrust.CITS.WCF.Test/Service References/InTrustCITSService/InTrustCITSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CITS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CITS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44301/v1/InTrustCITSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TXLifeRequest_Type">
    <xs:sequence>
      <xs:element name="endDateField" type="xs:dateTime" />
      <xs:element name="endDateFieldSpecified" type="xs:boolean" />
      <xs:element name="endTimeField" type="xs:dateTime" />
      <xs:element name="endTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="inquiryLevelField" nillable="true" type="tns:INQUIRY_LEVEL_CODES" />
      <xs:element name="inquiryViewField" nillable="true" type="tns:InquiryView_Type" />
      <xs:element name="oLifEField" nillable="true" type="tns:OLifE_Type" />
      <xs:element name="startDateField" type="xs:dateTime" />
      <xs:element name="startDateFieldSpecified" type="xs:boolean" />
      <xs:element name="startTimeField" type="xs:dateTime" />
      <xs:element name="startTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="transRefGUIDField" nillable="true" type="xs:string" />
      <xs:element name="transTypeField" nillable="true" type="tns:OLI_LU_TRANS_TYPE_CODES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TXLifeRequest_Type" nillable="true" type="tns:TXLifeRequest_Type" />
  <xs:complexType name="INQUIRY_LEVEL_CODES">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="INQUIRY_LEVEL_CODES" nillable="true" type="tns:INQUIRY_LEVEL_CODES" />
  <xs:complexType name="InquiryView_Type">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="inquiryViewCodeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InquiryView_Type" nillable="true" type="tns:InquiryView_Type" />
  <xs:complexType name="OLifE_Type">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="itemsField" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLifE_Type" nillable="true" type="tns:OLifE_Type" />
  <xs:complexType name="OLI_LU_TRANS_TYPE_CODES">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_TRANS_TYPE_CODES" nillable="true" type="tns:OLI_LU_TRANS_TYPE_CODES" />
  <xs:complexType name="TXLifeResponse_Type">
    <xs:sequence>
      <xs:element name="endDateField" type="xs:dateTime" />
      <xs:element name="endDateFieldSpecified" type="xs:boolean" />
      <xs:element name="endTimeField" type="xs:dateTime" />
      <xs:element name="endTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="inquiryLevelField" nillable="true" type="tns:INQUIRY_LEVEL_CODES" />
      <xs:element name="inquiryViewField" nillable="true" type="tns:InquiryView_Type" />
      <xs:element name="oLifEField" nillable="true" type="tns:OLifE_Type" />
      <xs:element name="primaryObjectIDField" nillable="true" type="xs:string" />
      <xs:element name="startDateField" type="xs:dateTime" />
      <xs:element name="startDateFieldSpecified" type="xs:boolean" />
      <xs:element name="startTimeField" type="xs:dateTime" />
      <xs:element name="startTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="transExeDateField" type="xs:dateTime" />
      <xs:element name="transExeTimeField" type="xs:dateTime" />
      <xs:element name="transRefGUIDField" nillable="true" type="xs:string" />
      <xs:element name="transResultField" nillable="true" type="tns:TransResult_Type" />
      <xs:element name="transTypeField" nillable="true" type="tns:OLI_LU_TRANS_TYPE_CODES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TXLifeResponse_Type" nillable="true" type="tns:TXLifeResponse_Type" />
  <xs:complexType name="TransResult_Type">
    <xs:sequence>
      <xs:element name="resultCodeField" nillable="true" type="tns:RESULT_CODES" />
      <xs:element name="resultInfoField" nillable="true" type="tns:ArrayOfResultInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransResult_Type" nillable="true" type="tns:TransResult_Type" />
  <xs:complexType name="RESULT_CODES">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESULT_CODES" nillable="true" type="tns:RESULT_CODES" />
  <xs:complexType name="ArrayOfResultInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultInfo_Type" nillable="true" type="tns:ResultInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultInfo_Type" nillable="true" type="tns:ArrayOfResultInfo_Type" />
  <xs:complexType name="ResultInfo_Type">
    <xs:sequence>
      <xs:element name="resultInfoCodeField" nillable="true" type="tns:RESULT_INFO_CODES" />
      <xs:element name="resultInfoDescField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultInfo_Type" nillable="true" type="tns:ResultInfo_Type" />
  <xs:complexType name="RESULT_INFO_CODES">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESULT_INFO_CODES" nillable="true" type="tns:RESULT_INFO_CODES" />
  <xs:complexType name="Holding_Type">
    <xs:sequence>
      <xs:element name="attachmentField" nillable="true" type="tns:ArrayOfAttachment_Type" />
      <xs:element name="bankingField" nillable="true" type="tns:Banking_Type" />
      <xs:element name="holdingTypeCodeField" nillable="true" type="tns:OLI_LU_HOLDTYPE" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="loanField" nillable="true" type="tns:ArrayOfLoan_Type" />
      <xs:element name="policyField" nillable="true" type="tns:Policy_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Holding_Type" nillable="true" type="tns:Holding_Type" />
  <xs:complexType name="ArrayOfAttachment_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment_Type" nillable="true" type="tns:Attachment_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachment_Type" nillable="true" type="tns:ArrayOfAttachment_Type" />
  <xs:complexType name="Attachment_Type">
    <xs:sequence>
      <xs:element name="attachmentBasicTypeField" nillable="true" type="tns:OLI_LU_BASICATTACHMENTTYPE" />
      <xs:element name="attachmentDataField" nillable="true" type="tns:OLI_LU_VARIANT" />
      <xs:element name="attachmentLocationField" nillable="true" type="tns:OLI_LU_ATTACHLOCATION" />
      <xs:element name="attachmentTypeField" nillable="true" type="tns:OLI_LU_ATTACHMENTTYPE" />
      <xs:element name="fileNameField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="signatureInfoField" nillable="true" type="tns:ArrayOfSignatureInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachment_Type" nillable="true" type="tns:Attachment_Type" />
  <xs:complexType name="OLI_LU_BASICATTACHMENTTYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_BASICATTACHMENTTYPE" nillable="true" type="tns:OLI_LU_BASICATTACHMENTTYPE" />
  <xs:complexType name="OLI_LU_VARIANT">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_VARIANT" nillable="true" type="tns:OLI_LU_VARIANT" />
  <xs:complexType name="OLI_LU_ATTACHLOCATION">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_ATTACHLOCATION" nillable="true" type="tns:OLI_LU_ATTACHLOCATION" />
  <xs:complexType name="OLI_LU_ATTACHMENTTYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_ATTACHMENTTYPE" nillable="true" type="tns:OLI_LU_ATTACHMENTTYPE" />
  <xs:complexType name="ArrayOfSignatureInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SignatureInfo_Type" nillable="true" type="tns:SignatureInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSignatureInfo_Type" nillable="true" type="tns:ArrayOfSignatureInfo_Type" />
  <xs:complexType name="SignatureInfo_Type">
    <xs:sequence>
      <xs:element name="delegatedSignerPartyIDField" nillable="true" type="xs:string" />
      <xs:element name="signatureDateField" type="xs:dateTime" />
      <xs:element name="signatureDateFieldSpecified" type="xs:boolean" />
      <xs:element name="signaturePartyIDField" nillable="true" type="xs:string" />
      <xs:element name="signatureTimeField" type="xs:dateTime" />
      <xs:element name="signatureTimeFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignatureInfo_Type" nillable="true" type="tns:SignatureInfo_Type" />
  <xs:complexType name="Banking_Type">
    <xs:sequence>
      <xs:element name="accountNumberField" nillable="true" type="xs:string" />
      <xs:element name="institutionNumberField" nillable="true" type="xs:string" />
      <xs:element name="transitNumberField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banking_Type" nillable="true" type="tns:Banking_Type" />
  <xs:complexType name="OLI_LU_HOLDTYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_HOLDTYPE" nillable="true" type="tns:OLI_LU_HOLDTYPE" />
  <xs:complexType name="ArrayOfLoan_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan_Type" nillable="true" type="tns:Loan_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan_Type" nillable="true" type="tns:ArrayOfLoan_Type" />
  <xs:complexType name="Loan_Type">
    <xs:sequence>
      <xs:element name="financialInstitutionPartyIDField" nillable="true" type="xs:string" />
      <xs:element name="loanAmtField" type="xs:decimal" />
      <xs:element name="loanAmtFieldSpecified" type="xs:boolean" />
      <xs:element name="loanDefaultDateField" type="xs:dateTime" />
      <xs:element name="loanDefaultDateFieldSpecified" type="xs:boolean" />
      <xs:element name="loanReasonDescField" nillable="true" type="xs:string" />
      <xs:element name="loanReasonField" nillable="true" type="tns:OLI_LU_LOANREASON" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan_Type" nillable="true" type="tns:Loan_Type" />
  <xs:complexType name="OLI_LU_LOANREASON">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_LOANREASON" nillable="true" type="tns:OLI_LU_LOANREASON" />
  <xs:complexType name="Policy_Type">
    <xs:sequence>
      <xs:element name="carrierPartyIDField" nillable="true" type="xs:string" />
      <xs:element name="certificateNoField" nillable="true" type="xs:string" />
      <xs:element name="itemField" nillable="true" type="xs:anyType" />
      <xs:element name="polNumberField" nillable="true" type="xs:string" />
      <xs:element name="policyStatusField" nillable="true" type="tns:OLI_LU_POLSTAT" />
      <xs:element name="policyValueField" type="xs:decimal" />
      <xs:element name="policyValueFieldSpecified" type="xs:boolean" />
      <xs:element name="productTypeField" nillable="true" type="tns:OLI_LU_POLPROD" />
      <xs:element name="renewalDateField" type="xs:dateTime" />
      <xs:element name="renewalDateFieldSpecified" type="xs:boolean" />
      <xs:element name="termDateField" type="xs:dateTime" />
      <xs:element name="termDateFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy_Type" nillable="true" type="tns:Policy_Type" />
  <xs:complexType name="OLI_LU_POLSTAT">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_POLSTAT" nillable="true" type="tns:OLI_LU_POLSTAT" />
  <xs:complexType name="OLI_LU_POLPROD">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_POLPROD" nillable="true" type="tns:OLI_LU_POLPROD" />
  <xs:complexType name="Party_Type">
    <xs:sequence>
      <xs:element name="addressField" nillable="true" type="tns:ArrayOfAddress_Type" />
      <xs:element name="attachmentField" nillable="true" type="tns:ArrayOfAttachment_Type" />
      <xs:element name="designationInfoField" nillable="true" type="tns:ArrayOfDesignationInfo_Type" />
      <xs:element name="eMailAddressField" nillable="true" type="tns:ArrayOfEMailAddress_Type" />
      <xs:element name="employmentField" nillable="true" type="tns:ArrayOfEmployment_Type" />
      <xs:element name="fullNameField" nillable="true" type="xs:string" />
      <xs:element name="govtIDField" nillable="true" type="xs:string" />
      <xs:element name="govtIDInfoField" nillable="true" type="tns:ArrayOfGovtIDInfo_Type" />
      <xs:element name="govtIDTCField" nillable="true" type="tns:OLI_LU_GOVTIDTC" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="itemField" nillable="true" type="xs:anyType" />
      <xs:element name="partyTypeCodeField" nillable="true" type="tns:OLI_LU_PARTY" />
      <xs:element name="phoneField" nillable="true" type="tns:ArrayOfPhone_Type" />
      <xs:element name="priorNameField" nillable="true" type="tns:ArrayOfPriorName_Type" />
      <xs:element name="producerField" nillable="true" type="tns:Producer_Type" />
      <xs:element name="ratingAgencyInfoField" nillable="true" type="tns:ArrayOfRatingAgencyInfo_Type" />
      <xs:element name="riskField" nillable="true" type="tns:Risk_Type" />
      <xs:element name="uRLField" nillable="true" type="tns:ArrayOfURL_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Party_Type" nillable="true" type="tns:Party_Type" />
  <xs:complexType name="ArrayOfAddress_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address_Type" nillable="true" type="tns:Address_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress_Type" nillable="true" type="tns:ArrayOfAddress_Type" />
  <xs:complexType name="Address_Type">
    <xs:sequence>
      <xs:element name="addressCountryField" nillable="true" type="xs:string" />
      <xs:element name="addressCountryTCField" nillable="true" type="tns:OLI_LU_NATION" />
      <xs:element name="addressStateField" nillable="true" type="xs:string" />
      <xs:element name="addressStateTCField" nillable="true" type="tns:OLI_LU_STATE" />
      <xs:element name="addressTypeCodeField" nillable="true" type="tns:OLI_LU_ADTYPE" />
      <xs:element name="cityField" nillable="true" type="xs:string" />
      <xs:element name="endDateField" type="xs:dateTime" />
      <xs:element name="endDateFieldSpecified" type="xs:boolean" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="line1Field" nillable="true" type="xs:string" />
      <xs:element name="line2Field" nillable="true" type="xs:string" />
      <xs:element name="prefAddrField" nillable="true" type="tns:OLI_LU_BOOLEAN" />
      <xs:element name="startDateField" type="xs:dateTime" />
      <xs:element name="startDateFieldSpecified" type="xs:boolean" />
      <xs:element name="yearsAtAddressField" type="xs:double" />
      <xs:element name="yearsAtAddressFieldSpecified" type="xs:boolean" />
      <xs:element name="zipField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address_Type" nillable="true" type="tns:Address_Type" />
  <xs:complexType name="OLI_LU_NATION">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_NATION" nillable="true" type="tns:OLI_LU_NATION" />
  <xs:complexType name="OLI_LU_STATE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_STATE" nillable="true" type="tns:OLI_LU_STATE" />
  <xs:complexType name="OLI_LU_ADTYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_ADTYPE" nillable="true" type="tns:OLI_LU_ADTYPE" />
  <xs:complexType name="OLI_LU_BOOLEAN">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_BOOLEAN" nillable="true" type="tns:OLI_LU_BOOLEAN" />
  <xs:complexType name="ArrayOfDesignationInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DesignationInfo_Type" nillable="true" type="tns:DesignationInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDesignationInfo_Type" nillable="true" type="tns:ArrayOfDesignationInfo_Type" />
  <xs:complexType name="DesignationInfo_Type">
    <xs:sequence>
      <xs:element name="designationDescField" nillable="true" type="xs:string" />
      <xs:element name="designationTypeField" nillable="true" type="tns:OLI_LU_DESIGNATIONTYPE" />
      <xs:element name="designationYearField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DesignationInfo_Type" nillable="true" type="tns:DesignationInfo_Type" />
  <xs:complexType name="OLI_LU_DESIGNATIONTYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_DESIGNATIONTYPE" nillable="true" type="tns:OLI_LU_DESIGNATIONTYPE" />
  <xs:complexType name="ArrayOfEMailAddress_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMailAddress_Type" nillable="true" type="tns:EMailAddress_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMailAddress_Type" nillable="true" type="tns:ArrayOfEMailAddress_Type" />
  <xs:complexType name="EMailAddress_Type">
    <xs:sequence>
      <xs:element name="addrLineField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMailAddress_Type" nillable="true" type="tns:EMailAddress_Type" />
  <xs:complexType name="ArrayOfEmployment_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employment_Type" nillable="true" type="tns:Employment_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployment_Type" nillable="true" type="tns:ArrayOfEmployment_Type" />
  <xs:complexType name="Employment_Type">
    <xs:sequence>
      <xs:element name="employerNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employment_Type" nillable="true" type="tns:Employment_Type" />
  <xs:complexType name="ArrayOfGovtIDInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GovtIDInfo_Type" nillable="true" type="tns:GovtIDInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGovtIDInfo_Type" nillable="true" type="tns:ArrayOfGovtIDInfo_Type" />
  <xs:complexType name="GovtIDInfo_Type">
    <xs:sequence>
      <xs:element name="govtIDField" nillable="true" type="xs:string" />
      <xs:element name="govtIDTCField" nillable="true" type="tns:OLI_LU_GOVTIDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GovtIDInfo_Type" nillable="true" type="tns:GovtIDInfo_Type" />
  <xs:complexType name="OLI_LU_GOVTIDTC">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_GOVTIDTC" nillable="true" type="tns:OLI_LU_GOVTIDTC" />
  <xs:complexType name="OLI_LU_PARTY">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_PARTY" nillable="true" type="tns:OLI_LU_PARTY" />
  <xs:complexType name="ArrayOfPhone_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone_Type" nillable="true" type="tns:Phone_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhone_Type" nillable="true" type="tns:ArrayOfPhone_Type" />
  <xs:complexType name="Phone_Type">
    <xs:sequence>
      <xs:element name="areaCodeField" nillable="true" type="xs:string" />
      <xs:element name="countryCodeField" nillable="true" type="xs:string" />
      <xs:element name="dialNumberField" nillable="true" type="xs:string" />
      <xs:element name="extField" nillable="true" type="xs:string" />
      <xs:element name="phoneTypeCodeField" nillable="true" type="tns:OLI_LU_PHONETYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone_Type" nillable="true" type="tns:Phone_Type" />
  <xs:complexType name="OLI_LU_PHONETYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_PHONETYPE" nillable="true" type="tns:OLI_LU_PHONETYPE" />
  <xs:complexType name="ArrayOfPriorName_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriorName_Type" nillable="true" type="tns:PriorName_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriorName_Type" nillable="true" type="tns:ArrayOfPriorName_Type" />
  <xs:complexType name="PriorName_Type">
    <xs:sequence>
      <xs:element name="firstNameField" nillable="true" type="xs:string" />
      <xs:element name="fullNameField" nillable="true" type="xs:string" />
      <xs:element name="lastNameField" nillable="true" type="xs:string" />
      <xs:element name="middleNameField" nillable="true" type="xs:string" />
      <xs:element name="nameTypeField" nillable="true" type="tns:OLI_LU_NAMETYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriorName_Type" nillable="true" type="tns:PriorName_Type" />
  <xs:complexType name="OLI_LU_NAMETYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_NAMETYPE" nillable="true" type="tns:OLI_LU_NAMETYPE" />
  <xs:complexType name="Producer_Type">
    <xs:sequence>
      <xs:element name="carrierAppointmentField" nillable="true" type="tns:ArrayOfCarrierAppointment_Type" />
      <xs:element name="designationInfoField" nillable="true" type="tns:ArrayOfDesignationInfo_Type" />
      <xs:element name="eOCoverageInfoField" nillable="true" type="tns:ArrayOfEOCoverageInfo_Type" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="licenceField" nillable="true" type="tns:ArrayOfLicence_Type" />
      <xs:element name="nationApprovalField" nillable="true" type="tns:ArrayOfNationApproval_Type" />
      <xs:element name="prefLanguageField" nillable="true" type="tns:OLI_LU_CLIENTLANGUAGES" />
      <xs:element name="supervisionLevelField" nillable="true" type="tns:ArrayOfSupervisionLevel_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producer_Type" nillable="true" type="tns:Producer_Type" />
  <xs:complexType name="ArrayOfCarrierAppointment_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarrierAppointment_Type" nillable="true" type="tns:CarrierAppointment_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrierAppointment_Type" nillable="true" type="tns:ArrayOfCarrierAppointment_Type" />
  <xs:complexType name="CarrierAppointment_Type">
    <xs:sequence>
      <xs:element name="agencyAffiliationIDField" nillable="true" type="xs:string" />
      <xs:element name="assocCarrierApptInfoField" nillable="true" type="tns:ArrayOfAssocCarrierApptInfo_Type" />
      <xs:element name="carrierApptStatusField" nillable="true" type="tns:OLI_LU_PROSTAT" />
      <xs:element name="companyProducerIDField" nillable="true" type="xs:string" />
      <xs:element name="companyProducerIDSourceDescField" nillable="true" type="xs:string" />
      <xs:element name="companyProducerIDSourceField" nillable="true" type="tns:OLI_LU_PRODUCERIDSOURCE" />
      <xs:element name="consolidationInfoField" nillable="true" type="tns:ArrayOfConsolidationInfo_Type" />
      <xs:element name="debtInfoField" nillable="true" type="tns:ArrayOfDebtInfo_Type" />
      <xs:element name="distributionAgreementInfoField" nillable="true" type="tns:ArrayOfDistributionAgreementInfo_Type" />
      <xs:element name="distributionLevelField" nillable="true" type="tns:ArrayOfDistributionLevel_Type" />
      <xs:element name="effDateField" type="xs:dateTime" />
      <xs:element name="effDateFieldSpecified" type="xs:boolean" />
      <xs:element name="expDateField" type="xs:dateTime" />
      <xs:element name="expDateFieldSpecified" type="xs:boolean" />
      <xs:element name="govtIDInfoField" nillable="true" type="tns:ArrayOfGovtIDInfo_Type" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="partyIDField" nillable="true" type="xs:string" />
      <xs:element name="referralInfoField" nillable="true" type="tns:ArrayOfReferralInfo_Type" />
      <xs:element name="requirementInfoField" nillable="true" type="tns:ArrayOfRequirementInfo_Type" />
      <xs:element name="supervisionLevelField" nillable="true" type="tns:ArrayOfSupervisionLevel_Type" />
      <xs:element name="transferInfoField" nillable="true" type="tns:ArrayOfTransferInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrierAppointment_Type" nillable="true" type="tns:CarrierAppointment_Type" />
  <xs:complexType name="ArrayOfAssocCarrierApptInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssocCarrierApptInfo_Type" nillable="true" type="tns:AssocCarrierApptInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssocCarrierApptInfo_Type" nillable="true" type="tns:ArrayOfAssocCarrierApptInfo_Type" />
  <xs:complexType name="AssocCarrierApptInfo_Type">
    <xs:sequence>
      <xs:element name="carrierAppointmentIDField" nillable="true" type="xs:string" />
      <xs:element name="carrierApptStatusField" nillable="true" type="tns:OLI_LU_PROSTAT" />
      <xs:element name="companyProducerIDField" nillable="true" type="xs:string" />
      <xs:element name="companyProducerIDSourceDescField" nillable="true" type="xs:string" />
      <xs:element name="companyProducerIDSourceField" nillable="true" type="tns:OLI_LU_PRODUCERIDSOURCE" />
      <xs:element name="partyIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssocCarrierApptInfo_Type" nillable="true" type="tns:AssocCarrierApptInfo_Type" />
  <xs:complexType name="OLI_LU_PROSTAT">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_PROSTAT" nillable="true" type="tns:OLI_LU_PROSTAT" />
  <xs:complexType name="OLI_LU_PRODUCERIDSOURCE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_PRODUCERIDSOURCE" nillable="true" type="tns:OLI_LU_PRODUCERIDSOURCE" />
  <xs:complexType name="ArrayOfConsolidationInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsolidationInfo_Type" nillable="true" type="tns:ConsolidationInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsolidationInfo_Type" nillable="true" type="tns:ArrayOfConsolidationInfo_Type" />
  <xs:complexType name="ConsolidationInfo_Type">
    <xs:sequence>
      <xs:element name="carrierAppointmentIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsolidationInfo_Type" nillable="true" type="tns:ConsolidationInfo_Type" />
  <xs:complexType name="ArrayOfDebtInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebtInfo_Type" nillable="true" type="tns:DebtInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDebtInfo_Type" nillable="true" type="tns:ArrayOfDebtInfo_Type" />
  <xs:complexType name="DebtInfo_Type">
    <xs:sequence>
      <xs:element name="holdingIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebtInfo_Type" nillable="true" type="tns:DebtInfo_Type" />
  <xs:complexType name="ArrayOfDistributionAgreementInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributionAgreementInfo_Type" nillable="true" type="tns:DistributionAgreementInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistributionAgreementInfo_Type" nillable="true" type="tns:ArrayOfDistributionAgreementInfo_Type" />
  <xs:complexType name="DistributionAgreementInfo_Type">
    <xs:sequence>
      <xs:element name="bankingInfoIDField" nillable="true" type="xs:string" />
      <xs:element name="checkMailingIDField" nillable="true" type="xs:string" />
      <xs:element name="paymentFormField" nillable="true" type="tns:OLI_LU_PAYMENTFORM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistributionAgreementInfo_Type" nillable="true" type="tns:DistributionAgreementInfo_Type" />
  <xs:complexType name="OLI_LU_PAYMENTFORM">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_PAYMENTFORM" nillable="true" type="tns:OLI_LU_PAYMENTFORM" />
  <xs:complexType name="ArrayOfDistributionLevel_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributionLevel_Type" nillable="true" type="tns:DistributionLevel_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistributionLevel_Type" nillable="true" type="tns:ArrayOfDistributionLevel_Type" />
  <xs:complexType name="DistributionLevel_Type">
    <xs:sequence>
      <xs:element name="distributionLevelValueField" nillable="true" type="xs:string" />
      <xs:element name="partyIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistributionLevel_Type" nillable="true" type="tns:DistributionLevel_Type" />
  <xs:complexType name="ArrayOfReferralInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferralInfo_Type" nillable="true" type="tns:ReferralInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferralInfo_Type" nillable="true" type="tns:ArrayOfReferralInfo_Type" />
  <xs:complexType name="ReferralInfo_Type">
    <xs:sequence>
      <xs:element name="partyIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferralInfo_Type" nillable="true" type="tns:ReferralInfo_Type" />
  <xs:complexType name="ArrayOfRequirementInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequirementInfo_Type" nillable="true" type="tns:RequirementInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequirementInfo_Type" nillable="true" type="tns:ArrayOfRequirementInfo_Type" />
  <xs:complexType name="RequirementInfo_Type">
    <xs:sequence>
      <xs:element name="attachmentField" nillable="true" type="tns:ArrayOfAttachment_Type" />
      <xs:element name="fulfilledDateField" type="xs:dateTime" />
      <xs:element name="fulfilledDateFieldSpecified" type="xs:boolean" />
      <xs:element name="fulfilledTimeField" type="xs:dateTime" />
      <xs:element name="fulfilledTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="fulfillerPartyIDField" nillable="true" type="xs:string" />
      <xs:element name="reqCodeField" nillable="true" type="tns:OLI_LU_REQCODE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequirementInfo_Type" nillable="true" type="tns:RequirementInfo_Type" />
  <xs:complexType name="OLI_LU_REQCODE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_REQCODE" nillable="true" type="tns:OLI_LU_REQCODE" />
  <xs:complexType name="ArrayOfSupervisionLevel_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupervisionLevel_Type" nillable="true" type="tns:SupervisionLevel_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupervisionLevel_Type" nillable="true" type="tns:ArrayOfSupervisionLevel_Type" />
  <xs:complexType name="SupervisionLevel_Type">
    <xs:sequence>
      <xs:element name="effDateField" type="xs:dateTime" />
      <xs:element name="effDateFieldSpecified" type="xs:boolean" />
      <xs:element name="expDateField" type="xs:dateTime" />
      <xs:element name="expDateFieldSpecified" type="xs:boolean" />
      <xs:element name="followUpDateField" type="xs:dateTime" />
      <xs:element name="followUpDateFieldSpecified" type="xs:boolean" />
      <xs:element name="issuingPartyIDField" nillable="true" type="xs:string" />
      <xs:element name="supervisionLevelDescField" nillable="true" type="xs:string" />
      <xs:element name="supervisionLevelTCField" nillable="true" type="tns:OLI_LU_SUPERVISIONLEVEL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupervisionLevel_Type" nillable="true" type="tns:SupervisionLevel_Type" />
  <xs:complexType name="OLI_LU_SUPERVISIONLEVEL">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_SUPERVISIONLEVEL" nillable="true" type="tns:OLI_LU_SUPERVISIONLEVEL" />
  <xs:complexType name="ArrayOfTransferInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferInfo_Type" nillable="true" type="tns:TransferInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransferInfo_Type" nillable="true" type="tns:ArrayOfTransferInfo_Type" />
  <xs:complexType name="TransferInfo_Type">
    <xs:sequence>
      <xs:element name="carrierAppointmentIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferInfo_Type" nillable="true" type="tns:TransferInfo_Type" />
  <xs:complexType name="ArrayOfEOCoverageInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EOCoverageInfo_Type" nillable="true" type="tns:EOCoverageInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEOCoverageInfo_Type" nillable="true" type="tns:ArrayOfEOCoverageInfo_Type" />
  <xs:complexType name="EOCoverageInfo_Type">
    <xs:sequence>
      <xs:element name="holdingIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EOCoverageInfo_Type" nillable="true" type="tns:EOCoverageInfo_Type" />
  <xs:complexType name="ArrayOfLicence_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Licence_Type" nillable="true" type="tns:Licence_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicence_Type" nillable="true" type="tns:ArrayOfLicence_Type" />
  <xs:complexType name="Licence_Type">
    <xs:sequence>
      <xs:element name="agencyAffiliationIDField" nillable="true" type="xs:string" />
      <xs:element name="expDateField" type="xs:dateTime" />
      <xs:element name="expDateFieldSpecified" type="xs:boolean" />
      <xs:element name="levelDescField" nillable="true" type="xs:string" />
      <xs:element name="licenceInterruptedIndField" nillable="true" type="tns:OLI_LU_BOOLEAN" />
      <xs:element name="licenceInterruptedReasonField" nillable="true" type="xs:string" />
      <xs:element name="licenceNumField" nillable="true" type="xs:string" />
      <xs:element name="licenceStateField" nillable="true" type="tns:OLI_LU_STATE" />
      <xs:element name="licenceTypeField" nillable="true" type="tns:OLI_LU_LICENCETYPE" />
      <xs:element name="nameOnLicenceField" nillable="true" type="xs:string" />
      <xs:element name="originationDateField" type="xs:dateTime" />
      <xs:element name="originationDateFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Licence_Type" nillable="true" type="tns:Licence_Type" />
  <xs:complexType name="OLI_LU_LICENCETYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_LICENCETYPE" nillable="true" type="tns:OLI_LU_LICENCETYPE" />
  <xs:complexType name="ArrayOfNationApproval_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NationApproval_Type" nillable="true" type="tns:NationApproval_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNationApproval_Type" nillable="true" type="tns:ArrayOfNationApproval_Type" />
  <xs:complexType name="NationApproval_Type">
    <xs:sequence>
      <xs:element name="nationField" nillable="true" type="tns:OLI_LU_NATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NationApproval_Type" nillable="true" type="tns:NationApproval_Type" />
  <xs:complexType name="OLI_LU_CLIENTLANGUAGES">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_CLIENTLANGUAGES" nillable="true" type="tns:OLI_LU_CLIENTLANGUAGES" />
  <xs:complexType name="ArrayOfRatingAgencyInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingAgencyInfo_Type" nillable="true" type="tns:RatingAgencyInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingAgencyInfo_Type" nillable="true" type="tns:ArrayOfRatingAgencyInfo_Type" />
  <xs:complexType name="RatingAgencyInfo_Type">
    <xs:sequence>
      <xs:element name="effDateField" type="xs:dateTime" />
      <xs:element name="effDateFieldSpecified" type="xs:boolean" />
      <xs:element name="ratingDescriptionField" nillable="true" type="xs:string" />
      <xs:element name="ratingSourceField" nillable="true" type="tns:OLI_LU_RATINGSRC" />
      <xs:element name="ratingValueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingAgencyInfo_Type" nillable="true" type="tns:RatingAgencyInfo_Type" />
  <xs:complexType name="OLI_LU_RATINGSRC">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_RATINGSRC" nillable="true" type="tns:OLI_LU_RATINGSRC" />
  <xs:complexType name="Risk_Type">
    <xs:sequence>
      <xs:element name="criminalConvictionField" nillable="true" type="tns:ArrayOfCriminalConviction_Type" />
      <xs:element name="dateLastUpdatedField" type="xs:dateTime" />
      <xs:element name="dateLastUpdatedFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Risk_Type" nillable="true" type="tns:Risk_Type" />
  <xs:complexType name="ArrayOfCriminalConviction_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CriminalConviction_Type" nillable="true" type="tns:CriminalConviction_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriminalConviction_Type" nillable="true" type="tns:ArrayOfCriminalConviction_Type" />
  <xs:complexType name="CriminalConviction_Type">
    <xs:sequence>
      <xs:element name="crimeDescriptionField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriminalConviction_Type" nillable="true" type="tns:CriminalConviction_Type" />
  <xs:complexType name="ArrayOfURL_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="URL_Type" nillable="true" type="tns:URL_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfURL_Type" nillable="true" type="tns:ArrayOfURL_Type" />
  <xs:complexType name="URL_Type">
    <xs:sequence>
      <xs:element name="uRLAddrField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="URL_Type" nillable="true" type="tns:URL_Type" />
  <xs:complexType name="Relation_Type">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="interestPercentField" type="xs:double" />
      <xs:element name="interestPercentFieldSpecified" type="xs:boolean" />
      <xs:element name="originatingObjectIDField" nillable="true" type="xs:string" />
      <xs:element name="originatingObjectTypeField" nillable="true" type="tns:OLI_LU_OBJECTTYPE" />
      <xs:element name="relatedObjectIDField" nillable="true" type="xs:string" />
      <xs:element name="relatedObjectTypeField" nillable="true" type="tns:OLI_LU_OBJECTTYPE" />
      <xs:element name="relationRoleCodeField" nillable="true" type="tns:OLI_LU_REL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relation_Type" nillable="true" type="tns:Relation_Type" />
  <xs:complexType name="OLI_LU_OBJECTTYPE">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_OBJECTTYPE" nillable="true" type="tns:OLI_LU_OBJECTTYPE" />
  <xs:complexType name="OLI_LU_REL">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_REL" nillable="true" type="tns:OLI_LU_REL" />
  <xs:complexType name="FormInstance_Type">
    <xs:sequence>
      <xs:element name="formResponseField" nillable="true" type="tns:ArrayOfFormResponse_Type" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="relatedObjectIDField" nillable="true" type="xs:string" />
      <xs:element name="relatedObjectTypeField" nillable="true" type="tns:OLI_LU_OBJECTTYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormInstance_Type" nillable="true" type="tns:FormInstance_Type" />
  <xs:complexType name="ArrayOfFormResponse_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormResponse_Type" nillable="true" type="tns:FormResponse_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormResponse_Type" nillable="true" type="tns:ArrayOfFormResponse_Type" />
  <xs:complexType name="FormResponse_Type">
    <xs:sequence>
      <xs:element name="attachmentField" nillable="true" type="tns:ArrayOfAttachment_Type" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="questionNumberField" nillable="true" type="xs:string" />
      <xs:element name="responseCodeField" nillable="true" type="xs:string" />
      <xs:element name="responseDataField" nillable="true" type="xs:string" />
      <xs:element name="responseTextField" nillable="true" type="xs:string" />
      <xs:element name="sectionIdentifierField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormResponse_Type" nillable="true" type="tns:FormResponse_Type" />
  <xs:complexType name="Person_Type">
    <xs:sequence>
      <xs:element name="birthDateField" type="xs:dateTime" />
      <xs:element name="birthDateFieldSpecified" type="xs:boolean" />
      <xs:element name="educationField" nillable="true" type="tns:ArrayOfEducation_Type" />
      <xs:element name="firstNameField" nillable="true" type="xs:string" />
      <xs:element name="highestEducationLevelField" nillable="true" type="tns:OLI_LU_EDULEVEL" />
      <xs:element name="lastNameField" nillable="true" type="xs:string" />
      <xs:element name="middleNameField" nillable="true" type="xs:string" />
      <xs:element name="prefixField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person_Type" nillable="true" type="tns:Person_Type" />
  <xs:complexType name="ArrayOfEducation_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Education_Type" nillable="true" type="tns:Education_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducation_Type" nillable="true" type="tns:ArrayOfEducation_Type" />
  <xs:complexType name="Education_Type">
    <xs:sequence>
      <xs:element name="majorField" nillable="true" type="xs:string" />
      <xs:element name="providerOrSchoolField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Education_Type" nillable="true" type="tns:Education_Type" />
  <xs:complexType name="OLI_LU_EDULEVEL">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_EDULEVEL" nillable="true" type="tns:OLI_LU_EDULEVEL" />
  <xs:complexType name="Organization_Type">
    <xs:sequence>
      <xs:element name="orgFormField" nillable="true" type="tns:OLI_LU_ORGFORM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organization_Type" nillable="true" type="tns:Organization_Type" />
  <xs:complexType name="OLI_LU_ORGFORM">
    <xs:sequence>
      <xs:element name="tcField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLI_LU_ORGFORM" nillable="true" type="tns:OLI_LU_ORGFORM" />
</xs:schema>