Test Client/Apexa.CITS.WCF.Test/Service References/CITSService/CITSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ACORD.org/Standards/Life/2" elementFormDefault="qualified" targetNamespace="http://ACORD.org/Standards/Life/2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" />
  <xs:element name="ProcessMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TXLife" type="tns:TXLife_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TXLife_Type">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="TXLifeRequest" type="tns:TXLifeRequest_Type" />
        <xs:element minOccurs="0" maxOccurs="1" name="TXLifeResponse" type="tns:TXLifeResponse_Type" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TXLifeRequest_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TransRefGUID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransType" type="tns:OLI_LU_TRANS_TYPE_CODES" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransExeDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransExeTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="1" name="InquiryLevel" type="tns:INQUIRY_LEVEL_CODES" />
      <xs:element minOccurs="0" maxOccurs="1" name="InquiryView" type="tns:InquiryView_Type" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="1" name="OLifE" type="tns:OLifE_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_TRANS_TYPE_CODES">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="INQUIRY_LEVEL_CODES">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="InquiryView_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InquiryViewCode" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="OLifE_Type">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="FormInstance" type="tns:FormInstance_Type" />
        <xs:element minOccurs="0" maxOccurs="1" name="Holding" type="tns:Holding_Type" />
        <xs:element minOccurs="0" maxOccurs="1" name="Party" type="tns:Party_Type" />
        <xs:element minOccurs="0" maxOccurs="1" name="Relation" type="tns:Relation_Type" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormInstance_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelatedObjectType" type="tns:OLI_LU_OBJECTTYPE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormResponse" type="tns:FormResponse_Type" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="RelatedObjectID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_OBJECTTYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FormResponse_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="QuestionNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponseData" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponseText" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="Holding_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HoldingKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="HoldingTypeCode" type="tns:OLI_LU_HOLDTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="Policy" type="tns:Policy_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="tns:Attachment_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan" type="tns:Loan_Type" />
      <xs:element minOccurs="0" maxOccurs="1" name="Banking" type="tns:Banking_Type" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="PERSISTKEY">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Persist" type="xs:NMTOKEN" />
        <xs:attribute name="SystemCode" type="xs:string" />
        <xs:attribute name="VendorCode" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_HOLDTYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Policy_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PolNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CertificateNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductType" type="tns:OLI_LU_POLPROD" />
      <xs:element minOccurs="0" maxOccurs="1" name="PolicyStatus" type="tns:OLI_LU_POLSTAT" />
      <xs:element minOccurs="0" maxOccurs="1" name="PolicyValue" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="EffDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="TermDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="RenewalDate" type="xs:date" />
    </xs:sequence>
    <xs:attribute name="CarrierPartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_POLPROD">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_POLSTAT">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Attachment_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AttachmentBasicType" type="tns:OLI_LU_BASICATTACHMENTTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachmentData" type="tns:OLI_LU_VARIANT" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachmentType" type="tns:OLI_LU_ATTACHMENTTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachmentLocation" type="tns:OLI_LU_ATTACHLOCATION" />
      <xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SignatureInfo" type="tns:SignatureInfo_Type" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_BASICATTACHMENTTYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_VARIANT">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_ATTACHMENTTYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_ATTACHLOCATION">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SignatureInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SignatureInfoKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatureDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatureTime" type="xs:time" />
    </xs:sequence>
    <xs:attribute name="SignaturePartyID" type="xs:IDREF" />
    <xs:attribute name="DelegatedSignerPartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="Loan_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LoanReason" type="tns:OLI_LU_LOANREASON" />
      <xs:element minOccurs="0" maxOccurs="1" name="LoanReasonDesc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LoanAmt" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute name="FinancialInstitutionPartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_LOANREASON">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Banking_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InstitutionNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransitNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PartyTypeCode" type="tns:OLI_LU_PARTY" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartyKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GovtID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GovtIDTC" type="tns:OLI_LU_GOVTIDTC" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="Organization" type="tns:Organization_Type" />
        <xs:element minOccurs="0" maxOccurs="1" name="Person" type="tns:Person_Type" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="tns:Address_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone" type="tns:Phone_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="tns:Attachment_Type" />
      <xs:element minOccurs="0" maxOccurs="1" name="Producer" type="tns:Producer_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMailAddress" type="tns:EMailAddress_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriorName" type="tns:PriorName_Type" />
      <xs:element minOccurs="0" maxOccurs="1" name="Risk" type="tns:Risk_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employment" type="tns:Employment_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GovtIDInfo" type="tns:GovtIDInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingAgencyInfo" type="tns:RatingAgencyInfo_Type" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_PARTY">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_GOVTIDTC">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Organization_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OrgForm" type="tns:OLI_LU_ORGFORM" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_ORGFORM">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Person_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prefix" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BirthDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="HighestEducationLevel" type="tns:OLI_LU_EDULEVEL" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Education" type="tns:Education_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_EDULEVEL">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Education_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Major" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProviderOrSchool" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressTypeCode" type="tns:OLI_LU_ADTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="Line1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Line2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressState" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressStateTC" type="tns:OLI_LU_STATE" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressCountry" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddressCountryTC" type="tns:OLI_LU_NATION" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrefAddr" type="tns:OLI_LU_BOOLEAN" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="YearsAtAddress" type="xs:double" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_ADTYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_STATE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_NATION">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OLI_LU_BOOLEAN">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Phone_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneTypeCode" type="tns:OLI_LU_PHONETYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AreaCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DialNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ext" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_PHONETYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Producer_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PrefLanguage" type="tns:OLI_LU_CLIENTLANGUAGES" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EOCoverageInfo" type="tns:EOCoverageInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="License" type="tns:License_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarrierAppointment" type="tns:CarrierAppointment_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DesignationInfo" type="tns:DesignationInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NationApproval" type="tns:NationApproval_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupervisionLevel" type="tns:SupervisionLevel_Type" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_CLIENTLANGUAGES">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EOCoverageInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PolNumber" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="HoldingID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="License_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseNum" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseState" type="tns:OLI_LU_STATE" />
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseType" type="tns:OLI_LU_LICENSETYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="OriginationDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameOnLicense" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LevelDesc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="tns:Attachment_Type" />
    </xs:sequence>
    <xs:attribute name="AgencyAffiliationID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_LICENSETYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CarrierAppointment_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CarrierAppointmentKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyProducerID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EffDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="CarrierApptStatus" type="tns:OLI_LU_PROSTAT" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributionAgreementInfo" type="tns:DistributionAgreementInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsolidationInfo" type="tns:ConsolidationInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebtInfo" type="tns:DebtInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferralInfo" type="tns:ReferralInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GovtIDInfo" type="tns:GovtIDInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferInfo" type="tns:TransferInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributionLevel" type="tns:DistributionLevel_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequirementInfo" type="tns:RequirementInfo_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupervisionLevel" type="tns:SupervisionLevel_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssocCarrierApptInfo" type="tns:AssocCarrierApptInfo_Type" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="PartyID" type="xs:IDREF" />
    <xs:attribute name="AgencyAffiliationID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_PROSTAT">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DistributionAgreementInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentForm" type="tns:OLI_LU_PAYMENTFORM" />
    </xs:sequence>
    <xs:attribute name="BankingInfoID" type="xs:IDREF" />
    <xs:attribute name="CheckMailingID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_PAYMENTFORM">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsolidationInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ConsolidationInfoKey" type="tns:PERSISTKEY" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="CarrierAppointmentID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="DebtInfo_Type">
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="HoldingID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="ReferralInfo_Type">
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="PartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="GovtIDInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GovtID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GovtIDTC" type="tns:OLI_LU_GOVTIDTC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TransferInfoKey" type="tns:PERSISTKEY" />
    </xs:sequence>
    <xs:attribute name="CarrierAppointmentID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="DistributionLevel_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DistributionLevelValue" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="PartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="RequirementInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ReqCode" type="tns:OLI_LU_REQCODE" />
      <xs:element minOccurs="0" maxOccurs="1" name="FulfilledDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="FulfilledTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="tns:Attachment_Type" />
    </xs:sequence>
    <xs:attribute name="FulfillerPartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_REQCODE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SupervisionLevel_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SupervisionLevelKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="SupervisionLevelTC" type="tns:OLI_LU_SUPERVISIONLEVEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="EffDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="FollowUpDate" type="xs:date" />
    </xs:sequence>
    <xs:attribute name="IssuingPartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_SUPERVISIONLEVEL">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AssocCarrierApptInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AssocCarrierApptInfoKey" type="tns:PERSISTKEY" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyProducerID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyProducerIDSource" type="tns:OLI_LU_PRODUCERIDSOURCE" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyProducerIDSourceDesc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CarrierApptStatus" type="tns:OLI_LU_PROSTAT" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="CarrierAppointmentID" type="xs:IDREF" />
    <xs:attribute name="PartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_PRODUCERIDSOURCE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DesignationInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DesignationType" type="tns:OLI_LU_DESIGNATIONTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="DesignationDesc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DesignationYear" type="xs:gYear" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_DESIGNATIONTYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NationApproval_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nation" type="tns:OLI_LU_NATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMailAddress_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddrLine" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriorName_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NameType" type="tns:OLI_LU_NAMETYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_NAMETYPE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Risk_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DateLastUpdated" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CriminalConviction" type="tns:CriminalConviction_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CriminalConviction_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CrimeDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employment_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HireDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="TerminationDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmployerName" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="EmployerPartyID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="RatingAgencyInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RatingSource" type="tns:OLI_LU_RATINGSRC" />
      <xs:element minOccurs="0" maxOccurs="1" name="RatingValue" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RatingDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EffDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OLI_LU_RATINGSRC">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Relation_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OriginatingObjectType" type="tns:OLI_LU_OBJECTTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelatedObjectType" type="tns:OLI_LU_OBJECTTYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelationRoleCode" type="tns:OLI_LU_REL" />
      <xs:element minOccurs="0" maxOccurs="1" name="InterestPercent" type="xs:double" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
    <xs:attribute name="OriginatingObjectID" type="xs:IDREF" />
    <xs:attribute name="RelatedObjectID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="OLI_LU_REL">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TXLifeResponse_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TransRefGUID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransType" type="tns:OLI_LU_TRANS_TYPE_CODES" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransExeDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransExeTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="1" name="InquiryLevel" type="tns:INQUIRY_LEVEL_CODES" />
      <xs:element minOccurs="0" maxOccurs="1" name="InquiryView" type="tns:InquiryView_Type" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndTime" type="xs:time" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransResult" type="tns:TransResult_Type" />
      <xs:element minOccurs="0" maxOccurs="1" name="OLifE" type="tns:OLifE_Type" />
    </xs:sequence>
    <xs:attribute name="PrimaryObjectID" type="xs:IDREF" />
  </xs:complexType>
  <xs:complexType name="TransResult_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ResultCode" type="tns:RESULT_CODES" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultInfo" type="tns:ResultInfo_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT_CODES">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResultInfo_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ResultInfoCode" type="tns:RESULT_INFO_CODES" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResultInfoDesc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT_INFO_CODES">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tc" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="ProcessMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TXLife" type="tns:TXLife_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNonCITSMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:NonCITSRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNonCITSMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" minOccurs="0" name="ProcessNonCITSMessageResult" nillable="true" type="q2:NonCITSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:FileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" minOccurs="0" name="ProcessFileRequestsResult" nillable="true" type="q4:FileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessContractCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:ContractCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessContractCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessContractCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>