CITS-WebService/Apexa.CITS.WCF.Test/Service References/CITSService/CITSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd1" namespace="http://ACORD.org/Standards/Life/2" />
  <xs:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="ProcessMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://ACORD.org/Standards/Life/2" minOccurs="0" maxOccurs="1" name="TXLife" type="q1:TXLife_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://ACORD.org/Standards/Life/2" minOccurs="0" maxOccurs="1" name="ProcessMessageResult" type="q2:TXLife_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNonCITSMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputId" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNonCITSMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessNonCITSMessageResult" nillable="true" type="q3:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="urlArray" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ProcessFileRequestsResult" nillable="true" type="q5:ArrayOfKeyValuePairOfstringbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>