CITS-WebService/Apexa.CITS.WCF.Test/Service References/CITSService/CITSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd1" namespace="http://ACORD.org/Standards/Life/2" />
  <xs:element name="ProcessMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://ACORD.org/Standards/Life/2" minOccurs="0" maxOccurs="1" name="TXLife" type="q1:TXLife_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://ACORD.org/Standards/Life/2" minOccurs="0" maxOccurs="1" name="ProcessMessageResult" type="q2:TXLife_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>