CITS-WebService/Apexa.CITS.WCF.Test/Service References/CITSService/CITSService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NonCITSRequest">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:string" />
      <xs:element name="requestType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonCITSRequest" nillable="true" type="tns:NonCITSRequest" />
  <xs:complexType name="NonCITSResponse">
    <xs:sequence>
      <xs:element name="items" nillable="true" type="tns:ArrayOfResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonCITSResponse" nillable="true" type="tns:NonCITSResponse" />
  <xs:complexType name="ArrayOfResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResult" nillable="true" type="tns:ArrayOfResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="FileRequest">
    <xs:sequence>
      <xs:element name="items" nillable="true" type="tns:ArrayOfFileURL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileRequest" nillable="true" type="tns:FileRequest" />
  <xs:complexType name="ArrayOfFileURL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileURL" nillable="true" type="tns:FileURL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileURL" nillable="true" type="tns:ArrayOfFileURL" />
  <xs:complexType name="FileURL">
    <xs:sequence>
      <xs:element name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileURL" nillable="true" type="tns:FileURL" />
  <xs:complexType name="FileResponse">
    <xs:sequence>
      <xs:element name="itemsField" nillable="true" type="tns:ArrayOfFile_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileResponse" nillable="true" type="tns:FileResponse" />
  <xs:complexType name="ArrayOfFile_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File_Type" nillable="true" type="tns:File_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile_Type" nillable="true" type="tns:ArrayOfFile_Type" />
  <xs:complexType name="File_Type">
    <xs:sequence>
      <xs:element name="byteArray" nillable="true" type="xs:base64Binary" />
      <xs:element name="filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File_Type" nillable="true" type="tns:File_Type" />
</xs:schema>