CITS-WebService/Apexa.CITS.WCF.Test/Service References/CITSService/CITSService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ACORD.org/Standards/Life/2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ACORD.org/Standards/Life/2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ACORD.org/Standards/Life/2/Imports">
      <xsd:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd0" namespace="http://ACORD.org/Standards/Life/2" />
      <xsd:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CITS" />
      <xsd:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://localhost:44300/v1/CITSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICITSService_ProcessMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessage" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessNonCITSMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNonCITSMessage" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessNonCITSMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNonCITSMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessFileRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFileRequests" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessFileRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFileRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessContractCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessContractCode" />
  </wsdl:message>
  <wsdl:message name="ICITSService_ProcessContractCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessContractCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICITSService">
    <wsdl:operation name="ProcessMessage">
      <wsdl:input wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessMessage" message="tns:ICITSService_ProcessMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessMessageResponse" message="tns:ICITSService_ProcessMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessNonCITSMessage">
      <wsdl:input wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessNonCITSMessage" message="tns:ICITSService_ProcessNonCITSMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessNonCITSMessageResponse" message="tns:ICITSService_ProcessNonCITSMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFileRequests">
      <wsdl:input wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessFileRequests" message="tns:ICITSService_ProcessFileRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessFileRequestsResponse" message="tns:ICITSService_ProcessFileRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessContractCode">
      <wsdl:input wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessContractCode" message="tns:ICITSService_ProcessContractCode_InputMessage" />
      <wsdl:output wsaw:Action="http://ACORD.org/Standards/Life/2/ICITSService/ProcessContractCodeResponse" message="tns:ICITSService_ProcessContractCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>