CITS-WebService/Apexa.CITS.WCF.Test/Service References/CITSService/CITSService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.Inbound" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Apexa.CITS.WCF.Inbound" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContractCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractApexaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotApplicable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractCode" nillable="true" type="tns:ContractCode" />
  <xs:complexType name="Debt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContractApexaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebtApexaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastPaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastPaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PublicDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReminderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Debt" nillable="true" type="tns:Debt" />
  <xs:complexType name="Supervision">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractApexaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReminderDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supervision" nillable="true" type="tns:Supervision" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractApexaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
</xs:schema>